.cryptoLogo{
    width: 30%;
    margin-left: 6rem;
    margin-top: 2rem;
}

form label input{
    width: 20em;
}

form select option{
    background-color: gray;
}

.indexMain{
    height: 75vh;
    background-color:gray;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexItem2{
    justify-content: center;
}

.cryptoFlexy{
    display: flex;
    justify-content: space-between;
}

.card1{
    margin: 3rem 0 3rem 0;
}

.glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
}

.glowing-border:hover { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}